.trafficTop {
    background-color: black;
    width: 26px;
    height: 107px;
    margin-left: 85px;
}

.container {
    background-color: black;
    width: 107px;
    margin-left: 44px;
    padding: 3px;
    border-radius: 22px;
}

.redLight {
    box-shadow: 0px 0px 40px red;
}

.yellowLight {
    box-shadow: 0px 0px 40px yellow;
}

.greenLight {
    box-shadow: 0px 0px 40px green;
}